<h3>Best Online Travel Agent from 2013 to 2016
Voted by TTG Travel Awards</h3>

<ul>
  {{#each model as |listing|}}
     <li>{{listing.tour}} <br> {{listing.duration}} <br> {{listing.location}} <br> {{listing.price}} <br>{{listing.image}}</li>
  {{/each}}
</ul>
