<br><br><h2>More information about {{model.tour}}</h2><br>

  <h4>{{model.location}}<br>
    {{model.duration}}<br>{{model.price}} </h4>
    <p><img class="image1" src={{model.image}}></p>

    {{listing-detail listing=model}}
